footer {
    background-color: #FAFAFA;
    padding-top: 106px;
    padding-bottom: 35px;
}

.footer-nav {
    padding-right: 200px;
    padding-left: 170px;
    display: flex;
    align-items: center;
}

.footer-nav li {
    margin-right: 80px;
}

.footer-nav li:nth-child(3n+2) {
    margin-right: 0;
}

.footer-nav li:nth-child(3) {
    margin-right: 140px;
    margin-left: 140px;
}

.footer-nav a {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.4;
    color: #000000;
}

footer nav:after {
    margin-top: 45px;
    margin-bottom: 55px;
    display: block;
    content: '';
    height: 1px;
    background-color: black;
}

.social-media-list {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
}

.copyright span {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.4;
    color: #000000;

}
